<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Image</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>frame</key>
					<string>{{0, 66}, {640, 323}}</string>
					<key>hidden</key>
					<true/>
					<key>identifier</key>
					<string>B8862B11-0482-4CBB-A166-C6C5F4E58AE5</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageIdentifier</key>
					<string>collar.pdf</string>
					<key>imageType</key>
					<integer>3</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Image</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Bezier</string>
					<key>closed</key>
					<false/>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{0, 129}, {646, 91}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>88D31789-5A0B-4D44-A0D9-5EA37F6A5C1B</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelControlPoints</key>
					<array>
						<array>
							<string>{467.65234375, 212.3203125}</string>
							<string>{0, 214.0546875}</string>
						</array>
						<array>
							<string>{0, 214.0546875}</string>
							<string>{157.234375, 121.73437500000006}</string>
						</array>
						<array>
							<string>{513.0625, 136.89062499999994}</string>
							<string>{645.56640625, 219.6015625}</string>
						</array>
					</array>
					<key>modelControlPointsIndependent</key>
					<array>
						<false/>
						<false/>
						<false/>
					</array>
					<key>modelControlPointsInvisible</key>
					<array>
						<true/>
						<false/>
						<true/>
					</array>
					<key>modelPoints</key>
					<array>
						<string>{0, 214.0546875}</string>
						<string>{335.1484375, 129.3125}</string>
						<string>{645.56640625, 219.6015625}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>190</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Bezier Shape</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Bezier</string>
					<key>closed</key>
					<true/>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{189, 68}, {262, 110}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>334F5905-124B-4167-8C96-FABDC97CF116</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelControlPoints</key>
					<array>
						<array>
							<string>{217.2734375, 85.3515625}</string>
							<string>{189.4921875, 178.109375}</string>
						</array>
						<array>
							<string>{189.49218749999997, 178.10937500000003}</string>
							<string>{202.27734375, 145.67578125000006}</string>
						</array>
						<array>
							<string>{429.72265625, 148.32421875}</string>
							<string>{451.51953125, 170.171875}</string>
						</array>
						<array>
							<string>{451.51953125, 170.171875}</string>
							<string>{428.5, 83.34765625}</string>
						</array>
						<array>
							<string>{428.5, 83.34765625}</string>
							<string>{397.9140625, 65.203124999999972}</string>
						</array>
						<array>
							<string>{242.0859375, 70.796875}</string>
							<string>{217.2734375, 85.3515625}</string>
						</array>
					</array>
					<key>modelControlPointsIndependent</key>
					<array>
						<true/>
						<false/>
						<false/>
						<true/>
						<false/>
						<false/>
					</array>
					<key>modelControlPointsInvisible</key>
					<array>
						<true/>
						<false/>
						<true/>
						<true/>
						<false/>
						<true/>
					</array>
					<key>modelPoints</key>
					<array>
						<string>{189.4921875, 178.109375}</string>
						<string>{316, 147}</string>
						<string>{451.51953125, 170.171875}</string>
						<string>{428.5, 83.34765625}</string>
						<string>{320, 68}</string>
						<string>{217.2734375, 85.3515625}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>190</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Bezier Shape</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Bezier</string>
					<key>closed</key>
					<true/>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{90, 84}, {230, 237}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>70667CCA-BD3D-4704-B916-55AE60376D1F</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelControlPoints</key>
					<array>
						<array>
							<string>{216.07421875000003, 247.21875000000003}</string>
							<string>{320, 297}</string>
						</array>
						<array>
							<string>{319.99999999999994, 297.00000000000006}</string>
							<string>{236.57421875, 194.98828125}</string>
						</array>
						<array>
							<string>{236.57421874999997, 194.98828125000003}</string>
							<string>{192.81640625, 139.109375}</string>
						</array>
						<array>
							<string>{218.20703125, 84.43359375}</string>
							<string>{167.6484375, 124.875}</string>
						</array>
						<array>
							<string>{167.64843749999997, 124.87500000000001}</string>
							<string>{90, 321.4140625}</string>
						</array>
						<array>
							<string>{89.999999999999986, 321.4140625}</string>
							<string>{216.07421875, 247.21875}</string>
						</array>
					</array>
					<key>modelControlPointsIndependent</key>
					<array>
						<false/>
						<false/>
						<false/>
						<true/>
						<false/>
						<false/>
					</array>
					<key>modelControlPointsInvisible</key>
					<array>
						<true/>
						<true/>
						<false/>
						<true/>
						<true/>
						<true/>
					</array>
					<key>modelPoints</key>
					<array>
						<string>{320, 297}</string>
						<string>{236.57421875, 194.98828125}</string>
						<string>{218.20703125, 84.43359375}</string>
						<string>{167.6484375, 124.875}</string>
						<string>{90, 321.4140625}</string>
						<string>{216.07421875, 247.21875}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Bezier Shape</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Bezier</string>
					<key>closed</key>
					<true/>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{320, 82}, {236, 237}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>57CD5334-799D-4A39-BD08-A79A353080A4</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelControlPoints</key>
					<array>
						<array>
							<string>{429.92578125, 245.21875000000003}</string>
							<string>{320, 299}</string>
						</array>
						<array>
							<string>{320.00000000000006, 299.00000000000006}</string>
							<string>{409.42578125, 192.98828125}</string>
						</array>
						<array>
							<string>{409.42578125, 192.98828125000003}</string>
							<string>{453.18359375, 137.109375}</string>
						</array>
						<array>
							<string>{427.79296875, 82.43359375}</string>
							<string>{478.3515625, 122.875}</string>
						</array>
						<array>
							<string>{478.3515625, 122.87500000000001}</string>
							<string>{556, 319.4140625}</string>
						</array>
						<array>
							<string>{556, 319.4140625}</string>
							<string>{429.92578125, 245.21875}</string>
						</array>
					</array>
					<key>modelControlPointsIndependent</key>
					<array>
						<false/>
						<false/>
						<false/>
						<true/>
						<false/>
						<false/>
					</array>
					<key>modelControlPointsInvisible</key>
					<array>
						<true/>
						<true/>
						<false/>
						<true/>
						<true/>
						<true/>
					</array>
					<key>modelPoints</key>
					<array>
						<string>{320, 299}</string>
						<string>{409.42578125, 192.98828125}</string>
						<string>{427.79296875, 82.43359375}</string>
						<string>{478.3515625, 122.875}</string>
						<string>{556, 319.4140625}</string>
						<string>{429.92578125, 245.21875}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>145</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Bezier Shape</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Bezier</string>
					<key>closed</key>
					<false/>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{282, 287}, {49, 143}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>7EE2DA77-0944-4997-8A38-BB622F184E23</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>modelControlPoints</key>
					<array>
						<array>
							<string>{283.0546875, 431.265625}</string>
							<string>{349.95703124999994, 268.36328125000006}</string>
						</array>
						<array>
							<string>{311.95703125, 306.61328125}</string>
							<string>{296.84765624999994, 331.41015625000006}</string>
						</array>
						<array>
							<string>{282.31640625, 360.06640625}</string>
							<string>{282.20703125, 430.50390625}</string>
						</array>
					</array>
					<key>modelControlPointsIndependent</key>
					<array>
						<false/>
						<false/>
						<true/>
					</array>
					<key>modelControlPointsInvisible</key>
					<array>
						<false/>
						<false/>
						<true/>
					</array>
					<key>modelPoints</key>
					<array>
						<string>{330.95703125, 287.48828125}</string>
						<string>{281.6796875, 361.4140625}</string>
						<string>{282.20703125, 430.50390625}</string>
					</array>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Bezier Shape</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Ellipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{300, 361}, {20, 20}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>371E08F7-0B90-47CF-9B6A-B0D6FC066851</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.701961:0.701961:0.701961:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>7</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array/>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<true/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>5</integer>
			<key>frame</key>
			<string>{{0, 0}, {640, 480}}</string>
			<key>gridTolerance</key>
			<real>1</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>3C54DF2D-7EBD-484F-95A2-2D72B4F38308</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>4</integer>
				<key>anchorSize</key>
				<string>{0, 0}</string>
				<key>group</key>
				<integer>1</integer>
				<key>height</key>
				<real>480</real>
				<key>resolution</key>
				<real>72</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>640</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>rulerOriginCorner</key>
			<integer>0</integer>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{320, 240}</string>
			<key>stroke1Color</key>
			<string></string>
			<key>stroke1Enabled</key>
			<false/>
			<key>stroke2Color</key>
			<string></string>
			<key>stroke2Enabled</key>
			<false/>
			<key>strokeColor</key>
			<string>0.701961:0.701961:0.701961:1.000000</string>
			<key>strokeLineCap</key>
			<integer>1</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>3</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict>
		<key>collar.pdf</key>
		<integer>1</integer>
	</dict>
	<key>version</key>
	<integer>8</integer>
</dict>
</plist>
